<!-- extends help in extending the top and latter part and keep only the remaining part -->
{% extends "layout.html" %}
{% block content %}
<!-- block content is where the unique part in each file is to be kept and that gets replaced in the layout file -->
    <div class="content-section">
        <form method="POST" action="">
            <!-- hidden tag method is a part of protecting the form from various attacks  -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Join Us</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    <!-- handle errors and display them to the user -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    <!-- handle errors and display them to the user -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    <!-- handle errors and display them to the user -->
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    <!-- handle errors and display them to the user -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already Joined Us ? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
<!-- each block is ended as for for and if -->